.wrapper {
    padding: 10px;
}
.registration,
.login {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

button,
h2 {
    margin-left: 15%;
}

h6 {
    color: green;
}

.messages > li {
    color: red;
    width: 70%;
    display: inline-block;
    margin-left: 10px;
}

.row {
    margin-bottom: 5px;
}
